.Wiki {
  text-align: center;
}

.P {
  margin-top: 72px;
  color: red;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}
