.All {
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-top: 47px;

  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 47px;
}

.LabelPar {
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 130%;
  padding-top: 5px;
}

.ProductDiv {
  border-radius: 15px;
  border: 2px solid #73ad21;
}
