.Toolbar {
  height: 56px;
  width: 100%;

  left: 0;
  background-image: linear-gradient(
    rgb(38, 96, 159),
    rgb(95, 129, 165),
    rgb(71, 115, 163),
    rgb(38, 96, 159)
  );
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
