.All {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 47px;
}

.Label {
  justify-content: left;
  align-content: left;
  text-align: left;
  font-weight: 700;
  font-size: 130%;
  margin-left: 20px;
  padding: 10px;
}
