.H1 {
  margin-bottom: 20px;

  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  font-weight: 700;
  background-color: rgb(175, 196, 253);
  border-radius: 30px 30px 30px 30px;
}
