.All {
  padding-top: 200px;
  background-image: url("../../../Assets/back3.jpg");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 666px;
}

@media (max-width: 600px) {
  .P {
    font-weight: 1000;
    font-size: 40px;
    color: rgb(250, 242, 204);
  }
}
